.gallery-container {
    background-color: #f4f4f4;
    color: #000;
    padding-top: 50px; /* Adjusted for consistent spacing at the top */
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .gallery-container h2 {
    font-size: 29px;
    color: #333;
    margin-bottom: 20px; /* Ensures space between heading and images */
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap; /* Changed from nowrap to wrap for better responsiveness */
    justify-content: center;
    gap: 16px;
    padding: 20px; /* Consistent padding around the gallery */
    background-color: #f4f4f4;
  }
  
  .gallery-item {
    flex: 1 0 calc(25% - 12px); /* Adjusts flex basis to account for gap, improving layout */
    display: flex;
    flex-direction: column; /* Aligns items in a vertical stack */
    align-items: center; /* Centers items horizontally in the flex container */
  }
  
  .gallery-item img {
    width: 100%; /* Ensures image takes up all of the flex item space */
    height: 400px; /* Fixed height for all images */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item img:hover {
    transform: scale(1.02); /* Enlarges the image on hover */
  }
  
  .image-name {
    margin-top: 10px; /* Space between image and its label */
    font-size: 16px; /* Slightly larger text for better readability */
    color: #666;
    margin-bottom: 50px;
  }
  
span {
    color: #225cd8;
}